body {background-color:#f9f9f9;
      display: flex;
      margin: 0;
      padding: 0;}

p {color:#252526}
h1 {color:#252526 ; text-align: center;}
h2 {color:#252526}
h3 {color:#252526}
h4 {color:#252526}
h5 {color:#252526}
h6 {color:#252526}
a {color:#252526}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #555;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #555;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}



iframe {
        position: absolute;
        right: 5%;
        width: 75%; /* 内容区域宽度 */
        height: 100%; /* 内容区域高度 */
        flex: 1; 
        border: none;
}





